/*EDIT QUIZ*/
.edit_quiz {
    display: flex;
    position: relative;
    padding: 0 10px;
}

.menu_quiz {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    background-color: var(--site-bg-contrast);
    padding: 30px 10px 10px 10px;
    height: 100%;
    border: 1px solid var(--border-color);
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    z-index: 8;
}

.menu_quiz.active {
    left: 0;
}

.close-menu_quiz {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.close-menu_quiz .icon {
    width: 16px;
    height: 16px;
    fill: var(--danger);
}

.quiz_title-menu {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.menu_quiz-list {
    display: flex;
    flex-direction: column;
}

.menu_quiz-list li + li {
    margin-top: 8px;
}

.menu_quiz-list a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu_quiz-list a b {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.menu_quiz-list a.active b {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--text-color-contrast);
}

.quiz_content {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 100%;
}

.open-menu_quiz {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 5px;
    width: max-content;
    margin-left: auto;
}

.first_page {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--site-bg-contrast);
}

.first_page .small_title {
    display: block;
    margin-bottom: 4px;
}

.select_dropdown {
    margin-bottom: 12px;
    width: 100%;
    max-width: 275px;
}

.select_dropdown img {
    display: block;
    margin-right: 12px;
    width: 50px;
    height: auto;
}

.select_dropdown > ul {
    display: flex;
    flex-direction: column;
}

.select_dropdown > ul > li {
    display: flex;
    align-items: center;
}

.select_picture {
    position: relative;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 100px;
    background: #ededed;
    border: 1px dashed #bababa;
    border-radius: 5px;
    overflow: hidden;
}

.select_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.delete_picture {
    position: absolute;
    bottom: 6px;
    left: 6px;
    z-index: 2;
    display: none;
}

.select_picture img + .delete_picture {
    display: block;
}

.select_list img {
    width: 30px;
    height: auto;
}

.text_box {
    width: 100%;
    margin-bottom: 12px;
}

.text_box input {
    width: 100%;
}

.text_box textarea {
    width: 100%;
    height: 120px;
}

.add_hashtag {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.add_hashtag input {
    flex: 1 1 auto;
    border-radius: 4px 0 0 4px;
}

.add_hashtag a {
    flex: 0 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: var(--primary);
    border-radius: 0 4px 4px 0;
    color: var(--text-color-contrast);
    text-decoration: none;
}

.hashtag_box ul {
    display: flex;
    flex-wrap: wrap;
}

.hashtag_box li {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0 5px 5px 0;
    padding: 4px 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}



.del_hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

.del_hashtag .icon {
    width: 12px;
    height: 12px;
    fill: var(--danger)
}