@media only screen and (min-width: 480px) {
  /*HEADER SITE*/
  /*FOOTER SITE*/
  /*QUIZ LIST*/
  /*CABINET*/
}
@media only screen and (min-width: 640px) {
  .popup.login_popup {
    padding: 30px 60px;
  }

  /*HEADER SITE*/
  /*FOOTER SITE*/
  /*QUIZ LIST*/
  /*CABINET*/
}
@media only screen and (min-width: 768px) {
  /*HEADER SITE*/
  /*FOOTER SITE*/
  /*QUIZ LIST*/
  /*CABINET*/
}
@media only screen and (min-width: 1024px) {
  h1, .main_title {
    font-size: 60px;
    margin-bottom: 30px;
  }

  h2, .sub-main_title {
    font-size: 46px;
    margin-bottom: 23px;
  }

  h3, .item_title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  h4, .box_title {
    font-size: 22px;
    margin-bottom: 12px;
  }

  h5, .small_title {
    font-size: 16px;
    margin-bottom: 13px;
  }

  /*HEADER SITE*/
  .header_logo {
    width: 160px;
  }

  .user_btn {
    width: 40px;
    height: 40px;
  }

  .user_btn img {
    width: 40px;
    height: 40px;
  }

  /*FOOTER SITE*/
  /*QUIZ LIST*/
  /*CABINET*/
}
@media only screen and (min-width: 1280px) {
  /*HEADER SITE*/
  /*FOOTER SITE*/
  /*QUIZ LIST*/
  /*CABINET*/
}