/* variables */
:root {
  --primary: #d13980;
  --secondary: #fff;
  --success: #3bad4b;
  --info: #66c0da;
  --warning: #f7ca2e;
  --danger: #f86c6b;
  --dark: #333333;
  --grey: #e3e3e3;
  --site-bg: #1e1e3e;
  --site-bg-contrast: #ffffff;
  --text-color: #2e2e54;
  --text-color-light: #69748c;
  --text-color-contrast: #ffff;
  --link-color: #d13980;
  --link-color-active: #bc3373;
  --border-color: #d2d4d8;
  --border-color-active: rgba(102,192,218,.8);
  --btn-bg: #d13980;
  --btn-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*base*/
BODY, HTML {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  min-width: 360px;
  height: 100%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--site-bg);
}

body.overflow {
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

input {
  font-size: 14px;
  line-height: 17px;
  height: 40px;
  border-radius: 4px;
  padding: 0 15px 0 12px;
  border: 1px solid var(--border-color);
  transition: 0.3s;
}

input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, input[type=email].error, textarea.error {
  border-color: var(--danger);
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus {
  outline: none !important;
  border-color: var(--border-color-active);
  outline: 0;
  outline-offset: 0;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

textarea {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid var(--border-color);
  resize: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

article a {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.3s;
}

article a:hover {
  color: var(--link-color-active);
}

article li {
  position: relative;
  padding-left: 10px;
}

article li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
}

h1, .main_title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 18px;
}

h2, .sub-main_title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 14px;
}

h3, .item_title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

h4, .box_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

h5, .small_title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

a:active {
  color: inherit;
  /*dont touch*/
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--primary);
}

.btn {
  text-decoration: none;
  color: #2e2e54;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  min-height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: 0.3s;
  background-color: #ffffff;
  cursor: pointer;
}

.btn .icon {
  width: 18px;
  height: 18px;
}

.btn:hover {
  background-color: #ececec;
}

.btn.btn_fill {
  color: var(--text-color-contrast);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn.btn_fill:hover {
  filter: saturate(1.2);
}

.close_btn {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.close_btn::before,
.close_btn::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background-color 0.3s;
}

.close_btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close_btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn:hover::before,
.close_btn:hover::after {
  background-color: var(--danger);
}

.shadow {
  font-size: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(32, 30, 80, 0.4);
  cursor: pointer;
  z-index: 10;
}

.hidden {
  display: none !important;
}

.popup_wrap {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  overflow-y: auto;
  padding-top: 156px;
  padding-bottom: 156px;
  background: rgba(32, 30, 80, 0.4);
  cursor: pointer;
}

.popup {
  color: var(--text-color);
  width: calc(100% - 30px);
  max-width: 500px;
  background-color: var(--site-bg-contrast);
  padding: 20px;
  border-radius: 5px;
  height: max-content;
  display: none;
  position: relative;
}

.popup.active {
  display: block;
}

.close_popup {
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
}

.close_popup::before,
.close_popup::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s;
}

.close_popup::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close_popup::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup:hover::before,
.close_popup:hover::after {
  background-color: var(--danger);
}

.popup.login_popup.active {
  display: flex;
  flex-direction: column;
}

.sub_text {
  margin-bottom: 25px;
}

.input_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input_wrap span {
  margin-bottom: 3px;
}

.input_wrap.code_wrap input {
  font-size: 18px;
  max-width: 150px;
  letter-spacing: 10px;
  padding: 0 15px;
  text-align: center;
}

.popup button.btn {
  margin-top: 20px;
}

/*header*/
.header_site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--site-bg-contrast);
  position: relative;
}

.header_logo {
  display: block;
  width: 125px;
  height: auto;
}

.header_logo img {
  width: 100%;
  height: auto;
}

.user_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary);
  border-radius: 50%;
  transition: 0.3s;
}

.user_btn .icon {
  width: 16px;
  height: 16px;
  fill: var(--secondary);
  transition: 0.3s;
}

.user_btn img {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50px;
}

.user_btn:hover .icon {
  fill: var(--dark);
}

.header_menu {
  display: none;
  flex-direction: column;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  background-color: var(--site-bg-contrast);
  position: absolute;
  top: calc(100% + 10px);
  right: 10px;
  z-index: 12;
}

.header_menu.menu_opened {
  display: flex;
}

.toggle_language {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

.toggle_language a {
  font-size: 12px;
  display: block;
  text-decoration: none;
  padding: 2px 3px;
  margin: 0 2px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: 0.3s;
}

.toggle_language a:hover {
  border-color: var(--primary);
}

.toggle_language a.active {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--text-color);
  cursor: unset;
}

.menu_list {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

.menu_list li + li {
  margin-top: 3px;
}

.menu_list a {
  text-decoration: none;
  color: var(--text-color-light);
  transition: 0.3s;
}

.menu_list a:hover {
  color: var(--link-color-active);
}

.social_list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

.social_list a {
  display: block;
  padding: 5px;
}

.social_list a .icon {
  fill: var(--primary);
  transition: 0.3s;
}

.social_list a:hover .icon {
  fill: var(--link-color-active);
}

.logout {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  transition: 0.3s;
}

.logout:hover {
  color: var(--link-color-active);
}

.logout .icon {
  margin-right: 8px;
  fill: var(--text-color-light);
  transition: 0.3s;
}

.logout:hover .icon {
  fill: var(--link-color-active);
}

/*FOOTER SITE*/
.footer_site {
  background-color: var(--site-bg-contrast);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.bottom_info {
  font-size: 12px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
}

.copyright {
  margin-bottom: 5px;
}

.footer_email {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.footer_email li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer_email li .icon {
  fill: var(--dark);
  margin-right: 10px;
  transition: 0.3s;
}

.footer_email li:hover .icon {
  fill: var(--primary);
}

/*QUIZ LIST*/
.quiz_list {
  margin: 0 auto;
  padding: 20px 10px 40px 10px;
  width: 100%;
  max-width: 1300px;
}

.quiz_list-add {
  margin-bottom: 20px;
  width: max-content;
}

.quiz_list-add .icon {
  margin-left: 8px;
  width: 14px;
  height: 14px;
  fill: var(--text-color-contrast);
}

.quiz_list > ul {
  display: flex;
  flex-direction: column;
}

.quiz_list > ul > li {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  max-width: 630px;
  background-color: var(--site-bg-contrast);
  border-radius: 5px;
  position: relative;
}

.quiz_list > ul > li + li {
  margin-top: 15px;
}

.quiz_list-link {
  display: flex;
  margin-bottom: 12px;
}

.to_quiz {
  max-width: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s;
}

.to_quiz:hover {
  color: var(--link-color-active);
}

.copy_quiz {
  margin-left: 6px;
  transition: 0.3s;
}

.copy_quiz:hover {
  opacity: 0.7;
}

.copy_quiz .icon {
  fill: var(--text-color);
  transition: 0.3s;
}

.copy_quiz.active {
  opacity: 1;
}

.copy_quiz.active .icon {
  fill: var(--link-color-active);
}

.quiz_list-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.quiz_list-btns {
  display: flex;
  flex-wrap: wrap;
}

.quiz_list-btns .btn {
  margin: 0 15px 8px 0;
}

.quiz_list-btns .btn .icon {
  fill: var(--text-color);
}

.quiz_list-btns .btn span + .icon {
  margin-left: 8px;
}

.quiz_list-more {
  flex: 0 0 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 42px;
}

.quiz_list-more .icon {
  fill: var(--text-color);
  opacity: 0.7;
  transition: 0.3s;
}

.quiz_list-more:hover .icon {
  fill: var(--primary);
}

.quiz_list-control {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 10px;
  background-color: var(--site-bg-contrast);
  color: var(--text-color-contrast);
  padding: 10px;
  border-radius: 5px;
}

.quiz_list-control.active {
  display: block;
}

.quiz_list-control a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--link-color-active);
}

.quiz_list-control a + a {
  margin-top: 6px;
}

.quiz_list-control a .icon {
  fill: var(--text-color);
  transition: 0.3s;
  margin-right: 8px;
}

.quiz_list-control a:hover {
  text-decoration: underline;
}

.quiz_list-control a:hover .icon {
  fill: var(--link-color-active);
}

/*CABINET*/
.cabinet {
  padding: 30px 0 50px 0;
}

.cabinet .centre {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  width: calc(100% - 30px);
  max-width: 1024px;
  border-radius: 5px;
  background-color: var(--site-bg-contrast);
}

.cabinet_inner {
  display: flex;
  flex-direction: column;
}

.cabinet_inner > .col-1 {
  background-color: var(--grey);
  padding: 15px;
  border-radius: 5px;
}

.user_setting {
  display: flex;
  flex-direction: column;
}

.user_setting + .user_setting {
  margin-top: 20px;
}

.user_setting .small_title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.user_setting .small_title .icon {
  margin-right: 8px;
}

.setting_info {
  display: flex;
  align-items: center;
}

.setting_info.active {
  display: none;
}

.setting_info span {
  transition: 0.3s;
}

.setting_info a {
  font-size: 0;
  order: 1;
  margin-left: 8px;
}

.setting_info a:hover + span {
  color: var(--link-color-active);
}

.change_setting {
  display: none;
}

.setting_info.active + .change_setting {
  display: flex;
  align-items: center;
}

.change_setting input {
  flex: 1 1 auto;
  min-width: 0px;
}

.change_setting .btn {
  flex: 0 0 auto;
  margin-left: 10px;
}

.close_change {
  font-size: 0;
  flex: 0 0 auto;
  margin-left: 10px;
  padding: 5px;
}

.close_change .icon {
  width: 12px;
  height: 12px;
  fill: var(--dark);
  transition: 0.3s;
}

.close_change:hover .icon {
  fill: var(--danger);
}

.change_photo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.change_photo .photo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.change_photo .photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload_photo {
  margin-left: 12px;
}

.cabinet_inner > .col-2 {
  background-color: var(--grey);
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
}

.info_author {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.info_author span {
  display: block;
  font-weight: 700;
  margin-bottom: 6px;
}

.info_author textarea {
  height: 150px;
}

.info_author .btn {
  margin-top: 6px;
  width: max-content;
  padding: 7px 16px;
  min-height: 32px;
}

/*EDIT QUIZ*/
/*START PAGE*/
.start_page {
  background-color: var(--site-bg-contrast);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.start_page > .col-1 {
  flex: 0 1 auto;
  width: 100%;
  height: 250px;
  background-size: cover;
}

.start_page > .col-2 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 24px 32px 100px 32px;
  position: relative;
}

.scroll_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.author_quiz {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.photo_author {
  margin-right: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.photo_author img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start_page-text {
  margin-bottom: 12px;
}

.author_social {
  display: flex;
  margin-bottom: 25px;
}

.author_social li + li {
  margin-left: 10px;
}

.author_social li a {
  display: block;
  padding: 5px;
}

.author_social a .icon {
  transition: 0.3s;
}

.author_social a:hover .icon {
  fill: var(--dark);
}

.start_page > .col-2 .btn {
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
}

.start_page-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  padding: 16px 32px;
}

.start_page-bottom ul a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.start_page-bottom ul a:hover {
  text-decoration: underline;
  color: var(--link-color-active);
}

.start_page-bottom .confident {
  text-align: center;
}

.start_page-bottom .confident a {
  color: var(--text-color);
}

.start_page.temp-2 .start_page-bottom .confident a {
  color: var(--text-color-contrast);
}

.start_page.temp-2 {
  flex-direction: row;
}

.start_page.temp-2 > .col-1 {
  flex: 0 1 100%;
  min-height: 100%;
  height: auto;
}

.start_page.temp-2 > .col-2 {
  position: absolute;
  background-color: #00000099;
  height: 100%;
  width: 100%;
  flex: 0 1 100%;
  justify-content: center;
  color: #fff;
  overflow-y: auto;
}

.start_page.temp-2 .scroll_box {
  max-width: 460px;
}

/*FORM QUIZ*/
.form_quiz {
  padding: 30px 10px 50px 10px;
}

.form_quiz .centre {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  max-width: 640px;
  background-color: var(--site-bg-contrast);
  border-radius: 5px;
}

.form_quiz-text {
  color: var(--text-color-contrast);
  display: block;
  width: max-content;
  margin-bottom: 10px;
  background-color: var(--primary);
  padding: 3px 6px;
  border-radius: 3px;
}

.form_item {
  display: none;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin-bottom: 30px;
}

.form_item.active {
  display: grid;
}

.checkbox_wrap {
  position: relative;
}

.checkbox_wrap input[type=checkbox],
.checkbox_wrap input[type=radio] {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.checkbox_wrap span {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 10px 20px 10px 50px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}

.checkbox_wrap span::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: 0.3s;
}

.checkbox_wrap input:checked + span {
  border-color: var(--primary);
}

.checkbox_wrap input:checked + span::before {
  background-color: var(--primary);
}

.checkbox_wrap input[type=checkbox] + span::before {
  border-radius: 4px;
}

.text_wrap {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.text_wrap input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.checkbox_block {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}

.checkbox_block::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.text_wrap label input:checked + .checkbox_block::before {
  background-color: var(--primary);
}

.text_wrap input[type=text] {
  height: 100%;
  flex: 1 1 auto;
  border: none;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid var(--border-color);
}

.quiz_panel {
  display: flex;
  align-items: center;
}

.quiz_progress-wrap {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.quiz_progress {
  width: 100%;
  height: 8px;
  position: relative;
  background-color: var(--grey);
  border-radius: 2px;
  overflow: hidden;
}

.quiz_progress b {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--success);
}

.quiz_progress-wrap > span {
  margin-bottom: 5px;
}

.quiz_progress-wrap > span b {
  font-weight: 400;
  color: var(--primary);
}

.prev_quiz {
  transform: rotate(180deg);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  border-radius: 21px;
  transition: 0.3s;
}

.prev_quiz:hover {
  border-color: var(--text-color-light);
  background-color: var(--text-color-light);
}

.prev_quiz .icon {
  fill: var(--text-color-light);
  transition: 0.3s;
}

.prev_quiz:hover .icon {
  fill: var(--text-color-contrast);
}

.prev_next {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 21px;
  border: 1px solid var(--primary);
  transition: 0.3s;
}

.prev_next:hover {
  color: var(--text-color-contrast);
  background-color: var(--primary);
}

.prev_next .icon {
  margin-left: 5px;
  transition: 0.3s;
}

.prev_next:hover .icon {
  fill: var(--text-color-contrast);
}

/*RESUL*/
.resul {
  padding: 30px 0 50px 0;
}

.resul .centre {
  display: flex;
  flex-direction: column;
  background-color: var(--site-bg-contrast);
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 10px;
  max-width: 640px;
  border-radius: 5px;
}

.resul .total {
  font-weight: 400;
}

.resul .total b {
  margin-left: 5px;
  color: var(--primary);
}

.share_quiz {
  width: 100%;
  margin-bottom: 25px;
}

.duel {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 25px;
}

.duel .user {
  font-size: 16px;
  padding: 5px;
}

.duel .user b {
  color: var(--primary);
}

.winners {
  margin-bottom: 25px;
}

.winners li {
  font-size: 16px;
}

.winners li + li {
  margin-top: 5px;
}

.winners li b {
  color: var(--primary);
}

.donate_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donate_box + .donate_box {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid var(--border-color);
}